body{
    background-color: thistle;
    height: 2000px;
}

.pai{
width: 200px;
height: 200px;
}

.filho{
width: 50px;
height: 50px;
}

/*  TIPO ESTATICO QUE É PADRÃO */

#p-estatico{
    background-color: aqua;
    position: static;
}

#f-estatico{
    background-color: yellow;
    position: static;
}

/*  TIPO FIXO */

#p-fixo{
    background-color: brown;
    position: fixed;
    /* top: 50px ; */
    bottom: 30px;
    /* left: 50px; */
    right: 20px;
    z-index: -1;
}

#f-fixo{
    background-color: darkmagenta;
    
}


/*  TIPO GRUDADO */

#p-grudado{
    background-color: blue;
    width: 1000px;
    height: 1000px;
}

#f-grudado{
    background-color: darkgreen;
    position: sticky;
    top: 30%;
    left: 28%;
}

/* DIV RELATIVO */

#p-relativo{
    background-color: darkcyan;
}

#f-relativo{
    background-color: black;
    position: relative;
    top: 30px;
    left: 60px;
}

/* <!-- DIV ABSOLUTO --> */

#p-absoluto{
    background-color: red;
    position: static;
}

#f-absoluto{
    background-color: royalblue;
    position: absolute;
    top: 600px;
}

#p-absolutoR{
    background-color: rgb(110, 216, 154);
    position: relative;
}

#f-absolutoR{
    background-color: gray;
    position: absolute;
    top: 200px;
}