header{
    background-color: rgb(218, 214, 214);
    color: #ffffff;
    display: flex;
    width: 2000px;
    height: 240px;
    align-items: center;
    justify-content: center;
}

main{
    background-color: red;
    display: flex;
    width: 2000px;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

footer{
    background-color: rgba(32, 32, 32, 0.452);
    color: #ffffff;
    display: flex;
    width: 2000px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#mae{
    background-color: green;
    margin: 30px;
    width: 1650px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mae1{
    background-color: green;
    margin: 30px;
    width: 1650px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}