body{
    background-color: burlywood;
    text-align: center;
    color: white;
    font-size: 60px;
    /* font-family: Impact; */
}

#bloco{
    background-color: black;
}

.quad{
    width: 200px;
    height: 200px;
    line-height: 200px;
    /* display: inline-block; */
    /* display: inline; */
}

#linhabloco{
    background-color: rgb(165, 182, 182);
    
}

#linha{
    background-color: deeppink;
}

#grid{
    background-color: orange;
    min-height: 100%;
    min-width: 100%;
    height: 900px;
    display: grid;
    /* grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto; */
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 10px;
    /* justify-items: center;
    align-items: right; */
    align-content: center;
}


.item{
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

#grid2{
    display: grid;
    grid-gap: 10px;
    background-color: cadetblue;
    grid-template-rows: 200px 500px 100px;
    grid-template-columns: 30% 65%;
    grid-template-areas: "cabecalho cabecalho cabecalho"
                         " lateral principal principal"
                         " rodape rodape rodape";
}

#cabecalho{
    grid-area:cabecalho ;
    background-color: brown;
}

#lateral{
    grid-area:lateral;
    background-color: cyan;
}

#principal{
    grid-area:principal;
    background-color: darkgoldenrod;
}

#rodape{
    grid-area:rodape;
    background-color: blueviolet;
}

#quad1{
    background-color: rgb(235, 11, 11);
}

#quad2{
    background-color: rgb(14, 11, 1);
}

#quad3{
    background-color: rgb(0, 13, 255);
}

#quad4{
    background-color: rgb(0, 255, 64);
}

#quad5{
    background-color: rgb(238, 255, 5);
}

#quad6{
    background-color: rgb(0, 225, 255);
}


#flex{
    background-color: aliceblue;
    min-height: 100%;
    min-width: 100%;
    gap: 10px;
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: column; */
    flex-flow: column wrap;
    justify-content: center;
}
