body{
    background-color: rgba(255, 255, 255, 0.808);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(46, 104, 76);
    border: 1px solid rgb(0, 255, 42);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: chartreuse;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgba(128, 255, 0, 0.151);
}

.tiulo{
    color: chartreuse;
    font-family: Impact, sans-serif;
}

/* fim do header */

main{
    background-color: rgb(113, 26, 153);
    border: 1px solid rgb(255, 54, 245);
    margin: 10px;
    padding: 10px;
    display: flex;
}

aside{
    border: 1px solid rgb(55, 0, 255);
    background-color: rgba(94, 145, 204, 0.555);
    margin: 10px;
    padding: 10px;
    width: 10%;
}

#maiorsection{
    border: 1px solid rgb(76, 53, 161);
    background-color: rgba(0, 0, 255, 0.555);
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;

}


/* fim do main */

footer{
    background-color: rgb(207, 20, 160);
    border: 1px solid rgb(122, 12, 247);
    margin: 10px;
    padding: 10px;
    text-align: center;
}